@page "{restaurantID:int?}"
@model OdeFoodFactory.Pages.Restraurants.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing Food Item @Model.FoodItems.Name</h2>

<form method="post">
    <input type="hidden" asp-for="FoodItems.Id" />
    <div class="form-group">
        <label asp-for="FoodItems.Name"></label>
        <input asp-for="FoodItems.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="FoodItems.Name"> </span>
    </div>
    <div class="form-group">
        <label asp-for="FoodItems.FoodType"></label>
        <input asp-for="FoodItems.FoodType" class="form-control" />
        <span class="text-danger" asp-validation-for="FoodItems.FoodType"> </span>
    </div>
    <div class="form-group">
        <label asp-for="FoodItems.SpiceLevel"></label>
        <select class="form-control" asp-for="FoodItems.SpiceLevel" asp-items="Model.spiceLevel"></select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>